* {
    margin: 0;
    padding:  0;
    font-family: 'Roboto Mono', monospace;
}
:root{
    --font-size-sm: 0.6em;
    --font-size-md: 1em;
    --font-size-lg: 1.3em;
    --margin-sm: 2vh;
    --margin-bottom-lg: 10vh;
}
header h1{
    font-size: var(--font-size-lg);
    border-bottom: solid 1px;
    border-color: rgb(63, 54, 63);
    border-radius: 1px;
}
header .header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--margin-bottom-lg);
}
.animated-gradient {
    /* Define the radial gradient */
    background: radial-gradient(circle, rgb(245, 212, 239) 37%, rgb(148, 156, 167) 57%, rgba(231, 115, 154, 0.648) 65%, rgba(238, 238, 238, 1) 81%);

    /* Create a larger background size for animation */
    background-size: 400% 400%;

    /* Animate the background position to create the moving effect */
    animation: gradient-animation 10s ease infinite;
}
body .random-section-container{
    display: grid;
    place-items: center;
    margin-bottom: var(--margin-bottom-lg);
}
body .random-section-container h2{
    font-size: var(--font-size-md);
    margin-bottom: var(--margin-bottom-lg);
}
body .random-section-container article{
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margin-sm);
}
body .random-section-container article img{
    border-radius: 2vh;
}
body .random-section-container article button{
    margin-top: var(--margin-sm);
    font-size: var(--font-size-sm);
}
body .upload-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--margin-bottom-lg);
}
body .upload-section-container h2{
    font-size: var(--font-size-md);
}
body .upload-section-container form{
    display: flex;
    flex-direction: column;
}
body .upload-section-container form input{
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-sm);
    margin-bottom: var(--margin-sm);
}
body .favorites-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--margin-bottom-lg);
}
body .favorites-section-container h2{
    font-size: 1.2em;
}
body .favorites-section-container article{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}
body .favorites-section-container article button{
    margin-top: 1vh;
    font-size: 0.8em;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 0%;
    }
    30% {
        background-position: 30% 30%;
      }
    50% {
      background-position: 100% 100%;
    }
    70% {
        background-position: 70% 70%;
      }
    100% {
      background-position: 0% 0%;
    }
  }